.nav {
    color: #666666;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    overflow: hidden;
 }
.container {
    border: 2px solid #dddddd;
    margin-top: 20px;
    margin-bottom: 80px;
}
.name {
    text-align: center;
    font: 30px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 20px 0px 20px 0px;
}

.about {
    font-size: 40px;
}
img.img-fluid {
    float: left;
    margin: 10px 10px 10px 0px;
}
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bolder;
}
p {
    clear: both;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
p.name {
    font-size: 20px;
    font-weight: bold;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666
    ;
    color: white;
    text-align: center;
    padding-top: 30px;
    border-top: 10px solid #4aaaa5;
  }
.form-group {
    width: 100%;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
form {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}