
.row {
    height: auto;
    border-bottom: 2px solid #808080;
    width: auto;
}
.navbar-brand {
    box-sizing: border-box;
    background-color: blue;
    font-size: 30px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar {
    margin: 0px;
    padding: 0px;
    width: auto;
}
.container2 {
    margin-top: 20px;
    border: 1px solid black;
    height: auto;
    padding: 20px 30px 20px 30px;
}
