
.container {
    font-family: 'Diplomata SC', cursive;
    text-align: center;
}
#totalWins {
    color: red;
    padding: 20px;
}
#Word {
    color: blue;
    padding: 20px;
}
#remainingGuesses {
    color: red;
    padding: 20px;
}
#guessedLetters {
    color: blue;
    padding: 20px;
}
#title {
    font-size: 50px;
}
h1 {
    border-bottom: 5px solid black;
}
h2 {
    border: 5px solid black;
    box-sizing: border-box;
}
h4 {
    padding-top: 30px;
}